torch
torchvision
transformers==4.31.0
datasets
pillow
dataclasses
numpy<2
nibabel
nltk
pandas
mmengine
tensorboard
einops
tqdm
matplotlib

accelerate==0.20.3
SentencePiece

gradio
fastapi
uvicorn
bitsandbytes

braceexpand
webdataset
einops_exts
kornia
umap-learn
pycocoevalcap
wcwidth
huggingface_hub
pytest
